@model Libreria.Models.Producto

@{
    ViewData["Title"] = "Edit";
}

<h4>Editar Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NombreProducto" class="control-label"></label>
                <input asp-for="NombreProducto" class="form-control" />
                <span asp-validation-for="NombreProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionProducto" class="control-label"></label>
                <input asp-for="DescripcionProducto" class="form-control" />
                <span asp-validation-for="DescripcionProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaProducto" class="control-label"></label>
                <select asp-for="CategoriaProducto" class="form-control">
                    <option value="0">Libro</option>
                    <option value="1">Papeleria</option>
                    <option value="2">Accesorio</option>
                </select>
                <span asp-validation-for="CategoriaProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagenProducto" class="control-label">Foto del Jugador</label>
                <br>
                <input type="file" asp-for="ImagenProducto" class="form-control-file" />
                <span asp-validation-for="ImagenProducto" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
