@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido a Libros Rincón Literario!</h1>
    <p>Explora las páginas que te esperan y sumérgete en un universo de historias. Descubre bestsellers, clásicos y tesoros literarios que inspirarán tu imaginación. En Libros Rincón Literario, cada página es una nueva aventura. ¡Disfruta del viaje!</p>
</div>
